.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid whitesmoke;
  padding: 1rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 80vw;
  border-top-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  background-color: #fff;
}

@media only screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
  .field {
    margin: 0.5rem;
  }
}
